<%= form_for(@bollywood_news) do |f| %>
  <% if @bollywood_news.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bollywood_news.errors.count, "error") %> prohibited this bollywood_news from being saved:</h2>

      <ul>
      <% @bollywood_news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :data_url %><br />
    <%= f.text_field :data_url %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
