<div class='adas' style=''>
  <img src='assets/header-part.jpg'></img>
</div>
<div class="navbar">
    <div class="navbar-inner" >
	<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	  <span class="icon-bar"></span>
	</a>
	<div class="container nav-collapse offset2">
	  <ul class="nav">
	      <li><%= link_to "Home", "/path1"  %></li>
	      <li><%= link_to "Movie Listing", "/path2"  %></li>
	      <li><%= link_to "Movie Schedule", "/path3"  %></li>
	      <li><%= link_to "Movie Schedule", "/path3"  %></li>
	      <li><%= link_to "Ticket Pricing ", "/path1"  %></li>
	      <li><%= link_to "Buy Tickets Online", "/path1"  %></li>
	  </ul>
	</div>
  </div>

</div>
<h1 class="title"><img src="http://www.marketplacecinemas.com/wp-content/themes/marketplace/images/now_showing.png"></h1>

<div class='now_showing row-fluid'>
  <%= render :partial => "now_showing"%>
</div>
<div class='schedule'>
  <%= render :partial=>'schedule' %>
</div>
